@page "/transaction"

<PageTitle>Index</PageTitle>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" href="transaction/create"> <i class="oi oi-plus"></i> Add</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Origem</th>
            <th>Categoria</th>
            <th>Data Estimada</th>
            <th>Data Confirmada</th>
            <th class="action-button-th"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Transactions)
        {
            <tr>
                <td>@transaction.Description</td>
                <td>@transaction.Value.ToString("C")</td>
                <td>@transaction.OriginName</td>
                <td>@transaction.Category</td>
                <td>@transaction.EstimatedDate.ToString("dd/MM/yyyy")</td>
                <td>@(transaction.ConfirmedDate.HasValue ? @transaction.ConfirmedDate.Value.ToString("dd/MM/yyyy") : "-")</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ações
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @if (transaction.ConfirmedDate == null)
                            {
                                <button class="dropdown-item" @onclick="() => Confirm(transaction.Id)">Confirmar</button>
                            }
                            <button class="dropdown-item" @onclick="async () => await Delete(transaction.Id)">Deletar</button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>